.middle {
  padding: 0 120px;
}

.middle h2 {
  text-align: center;
}

.cards {
  display: flex;
  justify-content: space-around;
}

.card-img {
  width: 160px;
  margin: 35px auto;
  color: #292929;
}

.card {
  box-shadow: 1px 1px 10px #7A7A7A;
  margin: 10px 5px;
  text-align: center;
  width: 400px;
  height: 550px;
  border-radius: 5px;
}

.card h3 {
  font-size: 23px;
  color: #5C5C5C;
}

.card p {
  margin: 30px 100px;
  color: #999999;
}
